.card{
    margin-top: 3%;
    margin-left: 30%;
    margin-right: 30%;   
}
.card-title{
    background-color: cornflowerblue;
    height: 60px;
   
}
#moviename{
    margin-top: 4%;
   font-size: larger;
   text-align: right;
}
.h3{
    color: white;
    margin-top: 2%;
   
}
#input{
    text-align: left;
}
.button{
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: end;
}




