<!-- <div>
    <form [formGroup]="login" (ngSubmit)="submit()">
        <div>
            <input formControlName="emailid">
            <label>Email</label>
        </div>
        <br>
        <div>
            <input formControlName="password">
            <label>Password</label>
        </div>
        <br>
        <div> <button>Login</button> </div>
    </form>
</div>
<br>
<div>
    <button>Admin Login</button>
</div>
<br>
<div>
    <button type="submit">Register here</button>
</div> -->






<header s class="header">
    <h1><b>Entertainment</b></h1>
</header>
<hr>

<content style="text-align: center;">

    <div class="card">

        <div class="card-title">
            <h3 class="h3">Login</h3>
        </div>
        <form [formGroup]="login" (ngSubmit)="submit()">
            <div class="email">
                <label><b>Select Role:</b> </label>
                <select name="Role" class="input" formControlName="role">
                    <option value="admin">Admin</option>
                    <option value="user">User</option>
                </select>
            </div>
            <div class="email">
                <label><b>Email :</b></label>
                <input placeholder="Enter Your Email" class="input" formControlName="emailid">
            </div>
            <div class="Password">
                <label><b>Password :</b></label>
                <input placeholder="Enter Your Password" class="input" formControlName="password">
            </div>
            <div class="btn">
                <button class="log" type="submit">Login</button>
            </div>

        </form>



        <hr>
        <div class="pr">
            <p class="p">New User - <a href="register">Register Here</a></p>

        </div>

    </div>

</content>